{% extends 'ParkingMapBundle::layout_app.html.twig' %}

{% block content %}
<span class='test'>Test</span>
{# {{ dump(trafficByHoursSpan)}} #}
{# {{ dump(slotsNb)}} #}
{# {{ dump(freeSlotsNb)}} #}
{% endblock %}
